@use '../../styles/breakpoints' as mixins;
@import '../../styles/font-size';

.page-section {
  grid-column: container-start / container-end;

  &__content {
    text-align: center;
    padding: 10rem;
    color: var(--color-primary);

    //Heading
    h1 {
      font-size: font-size(font-size-xlarge);
      font-weight: 700;
    }
    //Brief description
    h2 {
      font-size: font-size(font-size-regular);
      font-weight: 600;
    }

    //Image
    &--img {
      position: relative;
      margin: 5rem auto;
      width: 35vw;
      height: 24vw;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
      transition: all 0.3s ease-out;
    }

    //Img hover effect
    &--img:hover {
      transform: scale(1.05);
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    }

    // Purpose Section
    &--purpose {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      margin: 10rem auto;

      span {
        font-size: font-size(font-size-small);
        color: var(--color-primary);
        margin: 2rem auto;
      }
    }

    // Issues List
    &--list {
      margin: 5rem auto 10rem;
      text-align: center;
      justify-content: center;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 32%));
      display: grid;

      &__item {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        padding: 5rem 5.5rem;
        border-radius: 1rem;
        font-size: font-size(font-size-small);
        background-color: var(--color-secondary);
        box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.4);

        a {
          margin: 4rem auto 0;
          font-weight: 600;
          color: var(--color-quaternary);
          transition: color 0.1s ease-in-out;

          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }

    label {
      text-align: center;
      color: var(--color-quaternary);
      font-size: font-size(font-size-medium);
      font-weight: 600;
      margin: 10rem auto 5rem;
    }

    p {
      font-size: font-size(font-size-small);
      margin: 10rem auto;
    }

    // Link buttons
    &--link-btn {
      display: block;
      width: 40%;
      margin: 5rem auto;
      padding: 0.5rem;
      font-size: font-size(font-size-small);
      font-weight: 400;
      color: white;
      background: var(--color-tertiary);
      border: 0.1rem solid transparent;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: transparent;
        border: 0.1rem solid var(--color-primary);
        color: var(--color-primary);
      }
    }

    &--web-link {
      font-size: font-size(font-size-small);
      text-decoration: none;
      color: var(--color-quaternary);
      font-weight: 700;
      transition: color 0.1s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    &__content {
      padding: 10rem 2rem;

      //Image
      &--img {
        width: 100%;
        height: 70vw;
      }

      // Issues List
      &--list {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 100%));
        margin: 2rem auto 10rem;
        grid-gap: 0;

        &__item {
          padding: 3rem 3.5rem;
        }
      }

      &--link-btn {
        width: 100%;
      }
    }
  }
}
