@use '../styles/breakpoints' as mixins;
@import '../styles/font-size';

.section {
  grid-column: container-start / container-end;
  text-align: center;
  color: var(--color-primary);

  // ******** Heading ********
  &__heading {
    font-size: font-size(font-size-xxlarge);
    font-weight: 700;
    padding: 7rem 0 2rem;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    &__heading {
      padding: 11rem 0;
    }
  } //End of 800px breakpoint
}
