@use '../../../styles/breakpoints' as mixins;
@import '../../../styles/font-size';

.section {
  //Section
  grid-column: container-start / container-end;
  text-align: center;
  margin: 15rem 0;
  color: var(--color-primary);

  // ******** h2 Heading ********
  &__heading {
    font-size: font-size(font-size-large);
    font-weight: 600;
  }

  // ############ Section content ############
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;

    // ********* Portrait *********
    &--portrait {
      position: relative;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      background-color: var(--color-quaternary);
      margin: 3rem 0;
      overflow: hidden;
    }

    // ********* Paragraphs *********
    &--para {
      font-size: font-size(font-size-small);
      margin-bottom: 9.5rem;

      // <> tags
      span {
        color: var(--color-quaternary);
        font-weight: 600;
      }
    }

    // ********* To Projects Button *********
    &--button:link,
    &--button:visited {
      position: relative;
      color: var(--color-primary);
      font-size: font-size(font-size-regular);
      border: 0.2rem solid var(--color-primary);
      padding: 0.255rem 1.2rem;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;

      //Transition effect before
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-quaternary);
        transform: scaleX(0);
        transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
        z-index: -1;
        transition: transform 0.3s ease-in-out;
      }

      //On hover transition effect
      &:hover,
      &:active {
        color: var(--color-secondary);
        border: 0.2rem solid var(--color-quaternary);
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    margin: 10rem 0;

    &__heading {
      font-size: font-size(font-size-medium);
    }

    &__content {
      &--portrait {
        width: 20vw;
        height: 20vw;
      }
    }
  } //End of 800px breakpoint

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    &__content {
      &--portrait {
        width: 35vw;
        height: 35vw;
      }
    }
  } //End of 600px breakpoint
}
