@use '../../../styles/breakpoints' as mixins;
@import '../../../styles/font-size';

.contact-section {
  //Section
  grid-column: container-start / container-end;
  text-align: center;
  margin: 10rem 0;
  overflow: hidden;

  // ******** Section Heading ********
  &__heading {
    font-size: font-size(font-size-large);
    color: var(--color-primary);
    font-weight: 600;
    margin: 2rem 0 8rem;
  }

  // ******** Bottom closing tag ********
  &__closing-tag {
    font-size: font-size(font-size-xlarge);
    font-weight: 600;
    color: var(--color-primary);
    margin: 8rem 0 0;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 480px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    // ******** Section Heading ********
    &__heading {
      font-size: font-size(font-size-medium);
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 480px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile {
    margin: 5rem 0;

    // ******** Bottom closing tag ********
    &__closing-tag {
      font-size: 1.5rem;
    }
  }
}
