@use '../../../styles/breakpoints' as mixins;
@import '../../../styles/font-size';

.section {
  //Section
  grid-column: container-start / container-end;
  text-align: center;
  margin: 10rem 0;
  color: var(--color-primary);

  // ******** h2 Heading ********
  &__heading {
    font-size: font-size(font-size-large);
    font-weight: 600;
    margin-bottom: 8rem;
  }

  // ############ Section content ############
  &__projects {
    margin: 0 1.5rem 8rem;

    // ********* Project item *********
    &--project {
      display: grid;
      grid-template-columns: [col-1] 1fr [col-2] 1.5fr [col-3];
      grid-gap: 2rem;
      padding: 0 1.8rem;
      margin-bottom: 4rem;
      border-radius: 1rem;
      background-color: var(--color-secondary);
      box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.4);

      // ********* Project item on even items *********
      &:nth-child(even) {
        grid-template-columns: [col-1] 1.5fr [col-2] 1fr [col-3];
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
      }

      //Project's name
      &__name {
        grid-column: col-1 / col-3;
        font-size: font-size(font-size-medium);
        color: var(--color-quaternary);
        font-weight: 600;
        margin-top: 1rem;
      }

      //Project image
      &__img {
        grid-column: col-1 / col-2;
        width: 100%;
        height: 30rem;
        filter: grayscale(0.5);
        margin: 0.5rem auto 4rem;
        position: relative;
      }

      // Project image on even projects
      &:nth-child(even) &__img {
        grid-column: col-2 / col-3;
      }

      //On hover transform img
      &:hover &__img {
        transform: scale(1.08);
        filter: grayscale(0);
        transition: all 0.4s ease-in-out;
      }

      //On hover out transform img
      &:not(:hover) &__img {
        transform: scale(1);
        filter: grayscale(0.5);
        transition: all 0.4s ease-in-out;
      }

      //Project description
      &__info {
        grid-column: col-2 / col-3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto 3.5rem auto;

        // Text
        &--para {
          font-size: font-size(font-size-small);
          margin-bottom: 4rem;
          padding: 0 3rem;
        }

        //Project's webpage link
        a {
          font-size: font-size(font-size-regular);
          color: var(--color-primary);
          background-color: transparent;
          border: 0.1rem solid var(--color-primary);
          box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
          border-radius: 1rem;
          width: 40%;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: white;
            background-color: var(--color-tertiary);
            border: 0.1rem solid transparent;
          }
        }
      }

      //Project's description on even projects
      &:nth-child(even) &__info {
        grid-column: col-1 / col-2;
      }
    }

    // ********* To Projects Button *********
    &--button:link,
    &--button:visited {
      position: relative;
      color: var(--color-primary);
      font-size: font-size(font-size-regular);
      border: 0.2rem solid var(--color-primary);
      padding: 1.2rem;
      margin: 4rem auto;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;

      //Transition effect before
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-quaternary);
        transform: scaleY(0);
        transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
        z-index: -1;
        transition: transform 0.3s ease-in-out;
      }

      //On hover transition effect
      &:hover,
      &:active {
        color: var(--color-secondary);
        border: 0.2rem solid var(--color-quaternary);
        &::before {
          transform: scaleY(1);
        }
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    // ******** h2 Heading ********
    &__heading {
      font-size: font-size(font-size-medium);
    }

    // ############ Section content ############
    &__projects {
      // ********* Project item *********
      &--project {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(even) &__img {
          order: 1;
        }

        &:nth-child(even) &__info {
          order: 2;
        }

        // Project's img
        &__img {
          width: 100%;
          height: 25rem;
        }

        // Project's info
        &__info {
          margin-bottom: 2rem;
          width: 100%;

          a {
            width: 60%;
          }
        }
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    // ############ Section content ############
    &__projects {
      // ********* Project item *********
      &--project {
        // Project's name
        &__name {
          font-size: font-size(font-size-regular);
        }

        // Project's img
        &__img {
          width: 90%;
          margin: 0;
        }

        // Project's info
        &__info {
          a {
            width: 90%;
          }
        }
      }
    }
  }
}
