@use '../../../styles/breakpoints' as mixins;
@import '../../../styles/font-size';

.projects-section {
  grid-column: container-start / container-end;
  text-align: center;
  margin: 10rem 0;

  //Section content
  &__content {
    padding: 0 1.5rem;
    color: var(--color-primary);

    //H2 Heading
    &--heading {
      font-size: font-size(font-size-large);
      font-weight: 600;
      margin-bottom: 8rem;
    }

    //Project item
    &--project {
      display: grid;
      grid-template-columns: [col-1] 1fr [col-2] 2fr [col-3];
      grid-gap: 2rem;
      padding: 1.5rem;
      margin-bottom: 12rem;
      border-radius: 1rem;
      background-color: var(--color-secondary);
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);

      //On hover transform img
      &:hover {
        img {
          transform: scale(1.04);
          filter: grayscale(0);
          object-fit: fill;
          transition: all 0.4s ease-in-out;
        }
      }

      //On hover out transform img
      &:not(:hover) {
        img {
          transform: scale(1);
          filter: grayscale(0.5);
          transition: all 0.4s ease-in-out;
        }
      }

      //Project image
      &__img {
        grid-column: col-1 / col-2;
        position: relative;

        //project image
        img {
          filter: grayscale(0.5);
          border-radius: 1rem;
          margin: 1.5rem 0;
          width: 100%;
          object-position: center;
        }

        //Project title
        h3 {
          color: var(--color-primary);
          font-size: font-size(font-size-regular);
          font-weight: 400;
          margin: 1rem 0 1rem;
        }
      }

      &__info {
        grid-column: col-2 / col-3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 3rem;

        //Project description
        &--para {
          font-size: font-size(font-size-small);
          font-weight: 400;
          margin-bottom: 5rem;
        }

        //Project link
        & a {
          font-size: font-size(font-size-small);
          font-weight: 400;
          color: white;
          background-color: var(--color-tertiary);
          border: 0.1rem solid var(--color-primary);
          width: 35%;
          transition: all 0.2s;

          &:hover {
            background-color: transparent;
            color: var(--color-quaternary);
          }
        }
      }
    } //end of project item

    //To Testimonials Button *-*-*
    &--button:link,
    &--button:visited {
      position: relative;
      color: var(--color-primary);
      font-size: font-size(font-size-regular);
      border: 0.2rem solid var(--color-primary);
      padding: 1.2rem;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;

      //Transition effect before
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-quaternary);
        transform: scaleY(0);
        transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
        z-index: -1;
        transition: transform 0.3s ease-in-out;
      }

      //On hover transition effect
      &:hover,
      &:active {
        color: var(--color-secondary);
        border: 0.2rem solid var(--color-quaternary);
        &::before {
          transform: scaleY(1);
        }
      }
    } //End of To Testimonials Button
  } //end of content

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    &__content {
      &--project {
        grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3];

        &__img {
          img {
            width: 90%;
            object-fit: cover;
            object-position: center;
          }
        }

        &__info {
          &--link {
            width: 90%;
          }
        }
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    &__content {
      &--project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 8rem;
      }
    }
  }
}
