@use '../../../styles/breakpoints' as mixins;
@import '../../../styles/font-size';

.showcase-section {
  // Section
  grid-column: container-start / container-end;
  text-align: center;

  // ********Heading content ********
  &__content {
    padding: 6% 0 0 0;

    &--title {
      font-size: font-size(font-size-xxlarge);
      color: var(--color-primary);
      margin-bottom: 2rem;
      font-weight: 800;
      transform: translateX(105%);
      animation: rightEntrance 1.5s ease-in-out 1s forwards;

      span {
        color: var(--color-quaternary);
      }
    }

    &--welcome {
      font-size: font-size(font-size-xlarge);
      font-weight: 600;
      color: var(--color-primary);
      margin-bottom: 7rem;
      animation: fadeIn 1.8s ease-in-out;
    }

    &--subtitle {
      font-size: font-size(font-size-large);
      font-weight: 400;
      color: var(--color-primary);
      transform: translateX(-100%);
      animation: leftEntrance 1.5s ease-in-out 1s forwards;
    }

    // ******** Logo ********
    &--logo {
      position: relative;
      opacity: 0;
      object-fit: cover;
      overflow: hidden;
      width: 25rem;
      height: 25rem;
      margin: 2rem auto;
      animation: fadeIn 2s ease-in-out 3s forwards;
    }

    //  Learn More Button ********
    a:link,
    a:visited {
      color: var(--color-primary);
      font-size: font-size(font-size-regular);
      border: 0.2rem solid var(--color-primary);
      padding: 1.2rem;
      overflow: hidden;
      transition: box-shadow 0.3s ease-in-out;
      opacity: 0;
      animation: fadeIn 2s ease-in-out 3s forwards;

      //Transition effect Learn More button
      &:hover,
      &:active {
        box-shadow: inset -15rem 0 0 0 var(--color-quaternary), inset 15rem 0 0 0 var(--color-quaternary);
        color: var(--color-secondary);
        border: 0.2rem solid var(--color-quaternary);
      }
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    &__content {
      padding: 15rem 0 0;

      &--title {
        margin: 8.5rem 0 4rem;
      }

      &--logo {
        width: 20rem;
        height: 20rem;
        margin: 6rem auto 8rem;
      }
    } //end of content
  } //END OF 800px BREAKPOINT

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 480px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile {
    // ********Heading content ********
    &__content {
      padding: 7rem 0.13rem;

      &--title {
        font-size: 2.3rem;
        margin: 3rem 0;
      }

      &--welcome {
        font-size: 2rem;
      }

      &--subtitle {
        font-size: 1.5rem;
      }

      &--logo {
        width: 15rem;
        height: 15rem;
        margin: 5rem auto 7rem;
      }

      a:link,
      a:visited {
        font-size: 1.7rem;
      }
    }
  }
}

// Right Entrance Animation
@keyframes rightEntrance {
  0% {
    transform: translateX(105%);
  }
  100% {
    transform: translateX(0);
  }
}

// Left Entrance Animation
@keyframes leftEntrance {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// Fade In Animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Bottom Entrance Animation
@keyframes bottomEntrance {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
