@use '../../styles/breakpoints' as mixins;
@import '../../styles/_font-size';

.form {
  //Form styling
  width: 35%;
  margin: 5rem auto;

  // ******** Submit button *********
  &__submit-btn {
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    color: var(--color-primary);
    background-color: var(--color-quaternary);
    font-size: font-size(font-size-regular);
    border-radius: 0.7rem;
    border: 1px solid transparent;

    // Submit button animation
    &:hover {
      background-color: transparent;
      border: 1px solid var(--color-primary);
      transition: background-color 0.15s ease-in-out;
    }
  }

  // ******** Input Fields *********
  &__input,
  &__input--invalid {
    position: relative;

    //Input field styling
    input,
    textarea {
      width: 100%;
      margin: 3rem auto;
      font-size: font-size(font-size-regular);
      color: var(--color-primary);
      background: transparent;
      border: 0;
      border-bottom: 0.1rem solid var(--color-tertiary);
      outline: 0;
      transition: border-color 0.4s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ label {
        cursor: text;
        top: 2.3rem;
      }

      &:required,
      &:invalid {
        box-shadow: none;
      }
    }

    //Input field label styling
    label {
      font-size: font-size(font-size-small);
      color: var(--color-primary);
      position: absolute;
      top: -0.2rem;
      display: block;
      transition: 0.2s;
    }

    //Input field focus styling
    input:focus {
      border-width: 0.2rem;
      border-image: linear-gradient(to right, var(--color-tertiary), var(--color-tertiary));
      border-image-slice: 1;

      ~ label {
        color: var(--color-tertiary);
        font-weight: 600;
        opacity: 0.7;
        top: -1rem;
        display: block;
        transition: all 0.3s ease-in-out;
      }
    }

    //if message is invalid styles
    &--invalid {
      input {
        border-bottom: 0.1rem solid red;
      }
      label {
        color: red;
      }
    }

    //highlight input field when invalid styling
    &--error {
      color: red;
      margin-bottom: 3rem;
      font-size: font-size(font-size-small);
    }
  }

  //############ After submission styles for response message ############
  &__submission-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    // ******** Success message ********
    &--success {
      h2,
      i {
        color: var(--color-quaternary);
        margin-bottom: 3rem;
        font-size: font-size(font-size-xlarge);
      }

      p {
        color: var(--color-primary);
        font-size: font-size(font-size-regular);
        margin-bottom: 3rem;
      }
    }

    // ******** If the post request was unsuccessful ********
    &--error {
      h2,
      i {
        color: red;
        margin: 3rem 0;
        font-size: font-size(font-size-xlarge);
      }

      p {
        color: var(--color-primary);
        font-size: font-size(font-size-regular);
        margin-bottom: 3rem;
      }
    }

    // ******** sending message loading spinner ********
    &--sending {
      h2 {
        color: var(--color-quaternary);
        font-size: font-size(font-size-regular);
      }

      div {
        margin: 5rem 0;
        font-size: font-size(font-size-regular);
      }
    }

    // ******** Ok button to reopen the form after submission attempt ********
    button {
      cursor: pointer;
      width: 50%;
      margin-top: 2rem;
      padding: 1rem;
      color: white;
      background-color: var(--color-quaternary);
      font-size: font-size(font-size-regular);
      border-radius: 0.7rem;
      border: none;
    }
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-desktop {
    width: 40%;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 800px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-tablet {
    //Form
    width: 70%;

    //############ After submission styles for response message ############
    &__submission-msg {
      h2,
      i {
        font-size: 3.5rem;
      }

      p {
        font-size: 2rem;
      }
    }
  } //End of 800px breakpoint

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ The 600px Mark Breakpoint @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @include mixins.media-mobile-large {
    //Form
    width: 85%;

    //############ After submission styles for response message ############
    &__submission-msg {
      h2,
      i {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  } //End of 600px breakpoint
}
